body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #cb9ca1;
}
header{
    width: 100%;
    height: 70px;
    background: #fcebed;
}
/* nav-bar  */
.nav-bar{
    width: auto;
    float: right;
    margin-top: 10px;
    padding: 15px 30px;
    text-decoration: white;
    word-spacing: 20px;
}
/* --END-- */
h1 {
    position: absolute;
    padding: 3px;
    float: left;
    margin-top: 10px;
    margin-left: 2%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* Container */
.container{
    width: 100%;
    height: 100%;
    margin: 24px auto;
    
}

.container .box {

    position: relative;
    width: auto;
    /* height: 600px; */
    margin: 10px;
    padding: 25px 30px;
    border: 5px hidden black;
    background-color: white;
}

.container #box1 {
    background-image:url("../images/slider-bg12.jpg");
    background-size: cover;
    width: auto;
    height: 600px;
    
}
.container #box1 .color-overlay{
    width: 100%;
    height: 600px;
    background-color: #694d7e;
    opacity: .8;
    position: absolute;
}

.container #box1 .content .heading{
    color: white;
    font-size: 24px;
    text-align: center;
    position:absolute;
    top: 30%;
    width: 100%;

}

.container #box1 .content .btn1{
    position: absolute;
    top: 45%;
    left: 50%;
    border-radius: 50px;
    font-size: 14px;
    padding: 16px 30px;
    background-color: white;
   
}

.container #box1 .content .btn1:hover{
    color: white;

}

.container #box2 .content .btn2{
    position: absolute;
    background-color: #d8bada;
    top: 10%;
    left: 50%;
    border-radius: 50px;
    padding: 15px 25px;
    border: 5px hidden black;
}
.container #box2{
    width: auto;
    height: 1000px;
}
.container #box2 .content .heading{
    color: rgb(19, 15, 15);
    font-size: 24px;
    text-align: center;
    position:absolute;
    top: 15%;
    width: 100%;
    
}
.container #box2 .content .col-md-4{
    max-width: 400px;
    height: 600px;
    float: left;
    margin: 20px;
    padding-top: 400px;
  
}
.container #box3{
    width: auto;
    height: 900px;
}

.container #box3 .content .btn3 ,.heading{
    position: absolute;
    top: 10%;
    left: 60%;
    border-radius: 50px;

}